autom4te.cache/
bin/characters/*
bin/StarClone
bin/StarClone.conf
bin/temp/*
bin/StarDat.mpq
bin/BrooDat.mpq
bin/starinstall.exe
bin/broodinstall.exe
bin/debug
bin/memleaks
bin/output.log
obj/*

Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure
install-sh
missing
compile
backup


