.kdev4/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.kdev4
compile*
autom4te.cache/
bin/mem*
bin/characters/*
bin/StarClone*
bin/core*
bin/temp/*
bin/StarDat.mpq
bin/BrooDat.mpq
bin/starinstall.exe
bin/broodinstall.exe
bin/debug
bin/memleaks
bin/output.log
obj/*
*.o

Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure
install-sh
missing
backup
